<div class="container">
    <div class="row pt-2">
        <div class="col-lg-12 pb-2">
            <div class="bg-white rounded p-3" (window:resize)="onResize($event)">
                <mat-tab-group>
                    <mat-tab label="Grafikonok">
                        <google-chart *ngIf="this.fuelings" [data]="lineChart"></google-chart>
                        <hr>
                        <google-chart *ngIf="this.mileages" [data]="mileageChart"></google-chart>
                    </mat-tab>
                    <mat-tab label="Statisztika">
                        
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>