<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" class="col-lg-2 col-12 col-sm-2 shadow-lg">
        <div class="ps-3 pt-2">
            <h4 class="offcanvas-title" id="offcanvas-basic-title">MyCarDetails</h4>
            <button type="button" class="btn-close pe-3 d-block d-sm-none" aria-label="Close" (click)="sidenav.toggle()"></button>
        </div>
        <div class="pt-4">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ps-3 pe-3">
                <li class="nav-item" *ngIf="!this.authService.hasToken()">
                    <a class="nav-link" routerLink="login">
                        <mat-icon class="inline-icon">supervisor_account</mat-icon>
                        Csatlakozás
                    </a>
                </li>
                <li class="nav-item" *ngIf="this.authService.hasToken() && this.authService.isAdmin()">
                    <a class="nav-link" routerLink="admin" >
                        <mat-icon class="inline-icon">supervisor_account</mat-icon>
                        Admin
                    </a>
                </li>
                <li class="nav-item" *ngIf="this.authService.hasToken()">
                    <a class="nav-link" routerLink="mycars">
                        <mat-icon class="inline-icon">directions_car</mat-icon>
                        Autóim
                    </a>
                </li>
                <li class="nav-item" *ngIf="this.authService.hasToken()">
                    <a class="nav-link" routerLink="myprofile">
                        <mat-icon class="inline-icon">person</mat-icon>
                        Profilom ({{this.authService.getUser().username}})
                    </a>
                </li>
                <li class="nav-item" *ngIf="this.authService.hasToken()">
                    <a class="nav-link" (click)="this.authService.logout()">
                        <mat-icon class="inline-icon">logout</mat-icon>
                        Kijelentkezés
                    </a>
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="bg-own">
        <nav class="navbar navbar-expand bg-light shadow-sm">
            <div class="collapse navbar-collapse">
                <span class="navbar-brand">
                    <button (click)="sidenav.toggle()" class="menu-container menu-button" type="button">
                        <mat-icon class="p-2">{{ sidenav.opened ? 'menu_open' : 'menu' }}</mat-icon>
                    </button>
                </span>
                <!--<div class="ms-auto pe-4"><a routerLink="myprofile">{{this.authService.getUser().username}}</a></div>-->
            </div>
        </nav>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>