.menu-button {
    font-size: 1.5rem;
}
.menu-container {
    border-style: none;
    background-color: transparent;
}
.navbar {
    background-color: #B6E388 !important;
}
.inline-icon {
    vertical-align: bottom;
}
.nav-item:hover {
    background-color: #B6E388;
}
.bg-own {
    background-color: #d5d2d2 !important;
}