<nav class="navbar navbar-expand bg-light shadow-sm">
    <div class="collapse navbar-collapse">
        <span class="navbar-brand">
            <button (click)="open(content)" class="menu-container menu-button" type="button">
                <i class="bi bi-list p-2"></i>
            </button>
        </span>
    </div>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" *ngIf="!this.authService.hasToken()">
            <a class="nav-link" routerLink="login">Csatlakozás</a>
        </li>
        <li class="nav-item" *ngIf="this.authService.hasToken()">
            <a class="nav-link" (click)="this.authService.logout()">Kijelentkezés</a>
        </li>
    </ul>
</nav>




<ng-template #content let-menu>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Menü</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="menu.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" *ngIf="!this.authService.hasToken()">
                <a class="nav-link" routerLink="login" (click)="menu.dismiss()">Csatlakozás</a>
            </li>
            <li class="nav-item" *ngIf="this.authService.hasToken() && this.authService.isAdmin()">
                <a class="nav-link" routerLink="mycars" (click)="menu.dismiss()">Admin</a>
            </li>
            <li class="nav-item" *ngIf="this.authService.hasToken()">
                <a class="nav-link" routerLink="mycars" (click)="menu.dismiss()">Autóim</a>
            </li>
            <li class="nav-item" *ngIf="this.authService.hasToken()">
                <a class="nav-link" routerLink="myprofile" (click)="menu.dismiss()">Profilom</a>
            </li>
            <li class="nav-item" *ngIf="this.authService.hasToken()">
                <a class="nav-link" (click)="this.authService.logout()" (click)="menu.dismiss()">Kijelentkezés</a>
            </li>
        </ul>
    </div>
</ng-template>