<div class="pt-3 pb-3 bg-white rounded d-flex justify-content-center" *ngIf="costs && costs.length === 0">Még nincs
    költés. Új költés rögzítéséhez használja a bal alsó gombot!
</div>
<table mat-table class="mat-elevation-z8" [dataSource]="dataSource" *ngIf="dataSource && costs.length !== 0"
       multiTemplateDataRows>

    <ng-container matColumnDef="expandable">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon (click)="clickedCost(element,editCost)">edit</mat-icon>
            <mat-icon (click)="clickedDeleteCost(element,deleteCost)">delete</mat-icon>
            <mat-icon
                    class="pt-2 d-cell {{element.type.name === 'üzemanyag' ? '' : 'd-md-none'}}">{{ element === expanded ? "expand_less" : "expand_more"}}</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Időpont</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'yyyy.MM.dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Típus</th>
        <td mat-cell *matCellDef="let element"> {{element.type.name }} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell">Megnevezés</th>
        <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell"> {{element.title }} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Összeg</th>
        <td mat-cell *matCellDef="let element"> {{getNum(element.price, "Ft") }}</td>
    </ng-container>

    <ng-container matColumnDef="mileage">
        <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell">Kilométeróra állása</th>
        <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell"> {{getNum(element.mileage, "km") }} </td>
    </ng-container>

    <ng-container matColumnDef="details">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="detail-view" [@showDetails]="element == expanded && !loading ? 'expanded' : 'collapsed'">
                <div class="container">
                    <div class="row d-sm-flex d-md-none pb-3">
                        <hr>
                        <div class="col-6 col-sm-6 d-flex justify-content-start">Megnevezés:</div>
                        <div class="col-6 col-sm-6 d-flex justify-content-end">{{ element.title }}</div>
                        <div class="col-8 col-sm-6 d-flex justify-content-start">Kilométeróra állása:</div>
                        <div class="col-4 col-sm-6 d-flex justify-content-end">{{ element.mileage }} km</div>
                    </div>
                    <div class="row pb-3" *ngIf="element.fueling">
                        <hr>
                        <h6>Tankolás adatai</h6>
                        <div class="col-3 col-md-3 col-xl-2 d-flex justify-content-start justify-content-lg-end justify-content-xl-end">
                            Mennyiség:
                        </div>
                        <div class="col-9 col-md-3 col-xl-2 d-flex justify-content-end justify-content-lg-start justify-content-xl-start">
                            {{ getNum(element.fueling.quantity, 'liter') }}
                        </div>
                        <div class="col-3 col-md-2 col-xl-2 d-flex justify-content-start justify-content-lg-end justify-content-xl-end">
                            Üzemanyagfajta:
                        </div>
                        <div class="col-9 col-md-4 col-xl-3 d-flex justify-content-end justify-content-lg-start justify-content-xl-start">
                            {{ element.fueling.type }}
                        </div>
                        <div class="col-3 col-md-3 col-xl-1 d-flex justify-content-start justify-content-lg-end justify-content-xl-end">
                            Prémium:
                        </div>
                        <div class="col-9 col-md-3 col-xl-1 d-flex justify-content-end justify-content-lg-start justify-content-xl-start">
                            {{ element.fueling.isPremium ? "Igen" : "Nem" }}
                        </div>
                    </div>
                    <div class="row pb-3" *ngIf="fuelingData">
                        <hr>
                        <div class="col-8 col-md-5 col-xl-4 d-flex justify-content-start justify-content-lg-end justify-content-xl-end">
                            Előző tankoláshoz képest:
                        </div>
                        <div class="col-4 col-md-1 col-xl-2 d-flex justify-content-end justify-content-lg-start justify-content-xl-start"
                             *ngIf="fuelingData">
                            {{ fuelingData.better ? "Keveseb" : "Több" }}
                        </div>
                        <div class="col-3 col-md-3 col-xl-2 d-flex justify-content-start justify-content-lg-end justify-content-xl-end">
                            Fogyasztás:
                        </div>
                        <div class="col-9 col-md-3 col-xl-2 d-flex justify-content-end justify-content-lg-start justify-content-xl-start"
                             *ngIf="fuelingData">
                            {{ getNum(fuelingData.consumption, "l/100km") }}
                        </div>
                    </div>
                </div>
                <!-- <mat-grid-list [cols]="breakpoint" rowHeight="4:1" (window:resize)="onResize($event)">
                    <mat-grid-tile>Dátum: {{ element.date | date: 'yyyy.MM.dd' }}</mat-grid-tile>
                    <mat-grid-tile>Típus: {{element.type.name }}</mat-grid-tile>
                    <mat-grid-tile>Cím: {{element.title }}</mat-grid-tile>
                    <mat-grid-tile>Összeg: {{element.price }} {{ element.price > 0 ? " Ft" :"" }}</mat-grid-tile>
                    <mat-grid-tile>Kilométeróra állása: {{element.mileage }}</mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="2" rowHeight="6:1">
                    <hr *ngIf="element.fueling">
                    <mat-grid-tile *ngIf="element.fueling">Tankolt mennyiség: {{ element.fueling.quantity }} liter
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="element.fueling">Tankolt üzemanyagfajta: {{element.fueling.type }}</mat-grid-tile>
                </mat-grid-list> -->
            </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="main-row"
        [class.example-expanded-row]="expanded === element" (click)="toggleRow(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['details']" class="detail-row"></tr>
</table>
<div *ngIf="this.loading" class="position-fixed top-50 start-50 translate-middle">
    <mat-spinner></mat-spinner>
</div>
<mat-paginator showFirstLastButtons
               [pageSizeOptions]="[10,20,30,50,100,500]"
               [pageSize]="10">
</mat-paginator>


<ng-template #editCost let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Költség módosítása</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <form [formGroup]="editCostGroup" (ngSubmit)="onSubmit()" class="reg-form">
        <div class="modal-body">
            <div class="align-items-center justify-content-center pt-4">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Költés típusa</mat-label>
                        <mat-select formControlName="costtype" required>
                            <mat-option *ngFor="let type of enabledCostTypes" [value]="type">
                                {{ type.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Összeg</mat-label>
                        <input (keypress)="numberOnly($event)" type="text" formControlName="price" matInput>
                        <mat-icon matSuffix>payments</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Kilométeróra állása</mat-label>
                        <input formControlName="mileage" (keypress)="numberOnly($event)" type="text" matInput>
                        <mat-icon matSuffix>speed</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Megnevezés</mat-label>
                        <input formControlName="title" type="text" matInput>
                        <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Dátum</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="date" required>
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                    </mat-form-field>
                </p>
                <!-- <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Megjegyzés</mat-label>
                        <input formControlName="note" type="text" matInput>
                        <mat-icon matSuffix>description</mat-icon>
                    </mat-form-field>
                </p> -->
                <div *ngIf="this.editCostGroup.get('costtype')?.value.name === 'üzemanyag'">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Tankolt üzemagyagfajta</mat-label>
                            <input formControlName="fueling_type" type="text" matInput>
                            <mat-icon matSuffix>local_gas_station</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Tankolt mennyiség</mat-label>
                            <input (keypress)="numberOnlyWithComma($event)" formControlName="fueling_quantity"
                                   type="text" matInput>
                            <mat-icon matSuffix>60fps</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Prémium üzemanyag</mat-label>
                            <mat-select formControlName="fueling_isPremium" required>
                                <mat-option [value]="true">Igen</mat-option>
                                <mat-option [value]="false">Nem</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Teletank</mat-label>
                            <mat-select formControlName="fueling_isFull" required>
                                <mat-option [value]="true">Igen</mat-option>
                                <mat-option [value]="false">Nem</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-light w-100">Módosítás</button>
        </div>
    </form>
</ng-template>


<ng-template #deleteCost let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Biztosan törli a kijelölt költséget?</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <button class="btn btn-light w-50" (click)="modal.dismiss()">Nem</button>
        <button class="btn btn-light w-50" (click)="onDeleteCost()">Igen, törlöm</button>
    </div>
</ng-template>