table {
    width: 100%;
}
.detail-row {
    height: 0;
}
.main-row td {
    border-bottom-width: 0;
}
.detail-view {
    overflow: hidden;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #B6E388;
}