/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { background-color: #d5d2d2 !important; }

.btn-light {
    background-color: #B6E388 !important;
}
a {
    text-decoration: none;
}
.mcd-button {
    background-color: #B6E388 !important;
}
.mat-form-field {
    min-width: 100%;
}
.mat-checkbox-checked .mat-checkbox-background {
    background-color: #B6E388 !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}