@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { background-color: #d5d2d2 !important; }

.btn-light {
    background-color: #B6E388 !important;
}
a {
    text-decoration: none;
}
.mcd-button {
    background-color: #B6E388 !important;
}
.mat-form-field {
    min-width: 100%;
}
.mat-checkbox-checked .mat-checkbox-background {
    background-color: #B6E388 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #B6E388;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: #B6E388;
}

.mat-ink-bar {
    background-color: #B6E388 !important;
}

mat-label {
    color: gray !important;
}

.mat-tab-label {
    width: 100%;
}
.cdk-overlay-container {
    z-index: 9999;
}
.uploader-status .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #B6E388;
}