<div class="container-fluid">
    <div class="p-3">
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex" *ngFor="let car of cars">
                <div class="card mb-3 flex-fill shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.numberplate }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ car.brand + " " + car.model }}</h6>
                        <p class="card-text"></p>
                        <a [routerLink]="['/cardetails', car.id]" class="btn btn-light">Kiválasztás</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
                <div class="card mb-3 flex-fill shadow">
                    <div class="card-body">
                        <h5 class="card-title">Új autó rögzítése</h5>
                        <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
                        <p class="card-text"></p>
                        <a [routerLink]="['/newcar']" class="btn btn-light">Felvétel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>