<div class="pt-5">
  <div class="container col-lg-4 p-3 shadow-lg bg-white rounded">
    <mat-tab-group>
      <mat-tab label="Bejelentkezés">
        <form class="reg-form">
          <div class="align-items-center justify-content-center pt-4">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Felhasználói név</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>person</mat-icon>
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Jelszó</mat-label>
                <input type="password" matInput placeholder="">
                <mat-icon matSuffix>password</mat-icon>
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </p>
            <div class="text-center">
              <button type="button" class="btn btn-light">Bejelentkezés</button>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Regisztráció">
        <form class="reg-form">
          <div class="align-items-center justify-content-center pt-4">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Felhasználói név</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>person</mat-icon>
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>E-mail cím</mat-label>
                <input type="email" matInput placeholder="">
                <mat-icon matSuffix>mail</mat-icon>
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Jelszó</mat-label>
                <input type="password" matInput placeholder="">
                <mat-icon matSuffix>password</mat-icon>
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Jelszó ismét</mat-label>
                <input type="password" matInput placeholder="">
                <mat-icon matSuffix>password</mat-icon>
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </p>
            <div class="text-center">
              <button type="button" class="btn btn-light">Regisztráció</button>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>