<div class="pt-5"> <!-- TODO: árnyékolni -->
  <div class="container col-lg-4 p-5 reg-container">
    <form class="reg-form">
      <div class="align-items-center justify-content-center">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Felhasználói név</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>person</mat-icon>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>E-mail cím</mat-label>
            <input type="email" matInput placeholder="">
            <mat-icon matSuffix>mail</mat-icon>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Jelszó</mat-label>
            <input type="password" matInput placeholder="">
            <mat-icon matSuffix>password</mat-icon>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Jelszó ismét</mat-label>
            <input type="password" matInput placeholder="">
            <mat-icon matSuffix>password</mat-icon>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </p>
      </div>
    </form>
  </div>
</div>