.mat-form-field {
    min-width: 100%;
}

.btn-light {
    background-color: #B6E388 !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #B6E388;
}
/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: #B6E388;
}
::ng-deep .mat-ink-bar {
    background-color: #B6E388 !important;
}