<div class="container" *ngIf="carData">
    <div class="row pt-2">
        <div class="col-lg-4 pb-2">
            <div class="bg-white rounded pt-2 p-3">
                <p>Autó adatai</p>
                <div class="col-lg-12 shadow-lg bg-white rounded">
                    <ul class="list-group">
                        <li class="list-group-item">Rendszám: {{ carData.numberplate }}</li>
                        <li class="list-group-item">Márka: {{ carData.brand }}</li>
                        <li class="list-group-item">Modell: {{ carData.model }}</li>
                        <li class="list-group-item">Üzemanyag: {{ carData.fuelType.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-2">
            <div class="bg-white rounded pt-2 p-3">
                <p>Műveletek</p>
                <div class="col-lg-12 shadow-lg bg-white rounded">
                    <ul class="list-group">
                        <li class="list-group-item">Autó adatainak módosítása</li>
                        <li class="list-group-item" (click)="open(newCost)">Költség rögzítése</li>
                        <li class="list-group-item">Grafikonok megtekintése</li>
                        <li class="list-group-item">Autó törlése</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-2">
            <div class="bg-white rounded pt-2 p-3">
                <p>Költségek</p>
                <div class="col-lg-12 shadow-lg bg-white rounded">
                    <ul class="list-group">
                        <li class="list-group-item">Összes költött összeg: 1876756 Ft</li>
                        <li class="list-group-item">Összes tankolt mennyiség: 4563 liter</li>
                        <li class="list-group-item">Ft/km: 51,08 Ft/km</li>
                        <li class="list-group-item">Legtöbbet használt kategória: üzemanyag</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-costs></app-costs>
    </div>
</div>
<ng-template #newCost let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Új költés rögzítése</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <form [formGroup]="newCostGroup" (ngSubmit)="onSubmit()" class="reg-form">
        <div class="modal-body">
            <div class="align-items-center justify-content-center pt-4">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Költés típusa</mat-label>
                        <mat-select formControlName="costtype" required>
                            <mat-option *ngFor="let type of costTypes" [value]="type">
                                {{ type.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Összeg</mat-label>
                        <input (keypress)="numberOnly($event)" type="text" formControlName="price" matInput>
                        <mat-icon matSuffix>payments</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Kilométeróra állása</mat-label>
                        <input formControlName="mileage" (keypress)="numberOnly($event)" type="text" matInput>
                        <mat-icon matSuffix>speed</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Megnevezés</mat-label>
                        <input formControlName="title" type="text" matInput>
                        <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Dátum</mat-label>
                        <input formControlName="date" type="date" matInput>
                        <mat-icon matSuffix>calendar_month</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Megjegyzés</mat-label>
                        <input formControlName="note" type="text" matInput>
                        <mat-icon matSuffix>description</mat-icon>
                    </mat-form-field>
                </p>
                <div *ngIf="this.newCostGroup.get('costtype')?.value.name === 'üzemanyag'">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Tankolt üzemagyagfajta</mat-label>
                            <input formControlName="fueling_type" type="text" matInput>
                            <mat-icon matSuffix>local_gas_station</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Tankolt mennyiség</mat-label>
                            <input formControlName="fueling_quantity" type="text" matInput>
                            <mat-icon matSuffix>60fps</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Prémium üzemanyag</mat-label>
                            <mat-select formControlName="fueling_isPremium" required>
                                <mat-option [value]="true">Igen</mat-option>
                                <mat-option [value]="false">Nem</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-light w-100">Rögzítés</button>
        </div>
    </form>
</ng-template>