<div class="container" *ngIf="carData">
    <div class="row pt-2">
        <div class="col-lg-4 pb-2">
            <div class="bg-white rounded pt-2 p-3">
                <p>Autó adatai</p>
                <div class="col-lg-12 shadow-lg bg-white rounded">
                    <ul class="list-group">
                        <li class="list-group-item">Rendszám: {{ carData.numberplate }}</li>
                        <li class="list-group-item">Márka: {{ carData.brand }}</li>
                        <li class="list-group-item">Modell: {{ carData.model }}</li>
                        <li class="list-group-item">Üzemanyag: {{ carData.fuelType.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-2">
            <div class="bg-white rounded pt-2 p-3">
                <p>Műveletek</p>
                <div class="col-lg-12 shadow-lg bg-white rounded">
                    <ul class="list-group list-group-green">
                        <button class="list-group-item list-group-item-action" (click)="openModify(modifyCar)">Autó
                            adatainak módosítása
                        </button>
                        <button class="list-group-item list-group-item-action" (click)="open(newCost)">
                            Költség rögzítése
                        </button>
                        <button class="list-group-item list-group-item-action"
                            (click)="open(service)">Szervizesedékesség rögzítése</button>
                        <button [routerLink]="['/morestat', this.carId]"
                            class="list-group-item list-group-item-action">További statisztikai adatok</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-2">
            <div class="bg-white rounded pt-2 p-3">
                <p>Költségek</p>
                <div class="col-lg-12 shadow-lg bg-white rounded" *ngIf="this.carStat">
                    <ul class="list-group">
                        <li class="list-group-item">Összes költött összeg: {{ getNum(this.carStat.priceSum, "Ft") }}
                        </li>
                        <li class="list-group-item">Összes tankolt mennyiség: {{ getNum(this.carStat.fuelingSum,
                            "liter") }}</li>
                        <li class="list-group-item">Összes megtett kilométer: {{ getNum(this.carStat.mileageSum, "km")
                            }}</li>
                        <li class="list-group-item">Átlagfogyasztás: {{ getNum(this.carStat.consumption, "l/100 km") }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-costs></app-costs>
    </div>
    <div class="fixed-button">
        <button mat-fab class="mcd-button" [matMenuTriggerFor]="menu">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<ng-template #newCost let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Új költés rögzítése</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <form [formGroup]="newCostGroup" (ngSubmit)="onSubmit()" class="reg-form">
        <div class="modal-body">
            <div class="align-items-center justify-content-center pt-4">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Költés típusa</mat-label>
                        <mat-select formControlName="costtype" required>
                            <mat-option *ngFor="let type of costTypes" [value]="type">
                                {{ type.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Összeg</mat-label>
                        <input (keypress)="numberOnly($event)" type="text" formControlName="price" matInput>
                        <mat-icon matSuffix>payments</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Kilométeróra állása</mat-label>
                        <input formControlName="mileage" (keypress)="numberOnly($event)" type="text" matInput>
                        <mat-icon matSuffix>speed</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Megnevezés</mat-label>
                        <input formControlName="title" type="text" matInput>
                        <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Dátum</mat-label>
                        <input formControlName="date" type="date" matInput>
                        <mat-icon matSuffix>calendar_month</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Megjegyzés</mat-label>
                        <input formControlName="note" type="text" matInput>
                        <mat-icon matSuffix>description</mat-icon>
                    </mat-form-field>
                </p>
                <div *ngIf="this.newCostGroup.get('costtype')?.value.name === 'üzemanyag'">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Tankolt üzemagyagfajta</mat-label>
                            <input formControlName="fueling_type" type="text" matInput>
                            <mat-icon matSuffix>local_gas_station</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Tankolt mennyiség</mat-label>
                            <input formControlName="fueling_quantity" type="text" matInput>
                            <mat-icon matSuffix>60fps</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Prémium üzemanyag</mat-label>
                            <mat-select formControlName="fueling_isPremium" required>
                                <mat-option [value]="true">Igen</mat-option>
                                <mat-option [value]="false">Nem</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-light w-100">Rögzítés</button>
        </div>
    </form>
</ng-template>

<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/newcar']">
        Új autó felvétele
    </button>
    <button mat-menu-item (click)="open(newCost)">
        Költség rögzítése
    </button>
</mat-menu>

<ng-template #modifyCar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Autó adatainak módosítása</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <form [formGroup]="modifyCarGroup" (ngSubmit)="onModifySubmit()" class="reg-form">
        <div class="modal-body">
            <div class="align-items-center justify-content-center pt-4">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Rendszám</mat-label>
                        <input formControlName="numberplate" matInput required>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Márka</mat-label>
                        <input formControlName="brand" matInput required>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Típus</mat-label>
                        <input formControlName="model" matInput required>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Üzemanyag</mat-label>
                        <mat-select formControlName="fuelType" required>
                            <mat-option *ngFor="let type of fuelTypes" [value]="type">
                                {{ type.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-light w-100">Mentés</button>
        </div>
    </form>
</ng-template>
<ng-template #service let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Szervizesedékesség rögzítése</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <form [formGroup]="serviceGroup" (ngSubmit)="onServiceSubmit()" class="reg-form">
        <div class="modal-body">
            <div class="align-items-center justify-content-center pt-4">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Dátum</mat-label>
                        <input formControlName="date" type="date" matInput>
                        <mat-icon matSuffix>calendar_month</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Kilométeróra állása</mat-label>
                        <input formControlName="mileage" (keypress)="numberOnly($event)" type="text" matInput>
                        <mat-icon matSuffix>speed</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Megjegyzés</mat-label>
                        <input formControlName="note" type="text" matInput>
                        <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-light w-100">Rögzítés</button>
        </div>
    </form>
</ng-template>